* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf

*.jar binary
*.zip binary
*.gz binary
*.png binary
*.jpg binary
*.jpeg binary
*.pdf binary

gradlew text eol=lf
*.sh text eol=lf
*.py text eol=lf
